server:
  port: 8080  # Porta interna da aplicação Spring Boot

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    health:
      show-details: always
