name: Java CD - Deploy para AWS

on:
  push:
    branches: [ "main" ]

env:
  # Agrupei o nome do bucket aqui. Verifique se o número 338395016803 é o seu ID da AWS
  BUCKET_NAME: "stock-manager-prod-artifacts-338395016803"

jobs:
  release-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Criar Build com Maven (Empacotar)
        working-directory: backend/stock-manager
        run: mvn -B clean package -DskipTests

      - name: Configurar Credenciais da AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Preparar e Enviar Pacote
        working-directory: backend/stock-manager
        run: |
          # 1. Localiza o JAR gerado pelo Maven
          JAR_PATH=$(ls target/stock-manager-*.jar | head -n 1)
          cp $JAR_PATH stock-manager.jar
          
          # 2. Cria o pacote ZIP para o CodeDeploy
          zip -r deploy-package.zip stock-manager.jar appspec.yml scripts/
          
          # 3. Envia para o S3 (Onde o erro ocorria)
          aws s3 cp deploy-package.zip s3://${{ env.BUCKET_NAME }}/deploy/stock-manager.zip

      - name: Executar Deploy na AWS
        run: |
          aws deploy create-deployment \
            --application-name StockManagerApp \
            --deployment-group-name StockManagerDG \
            --s3-location bucket=${{ env.BUCKET_NAME }},key=deploy/stock-manager.zip,bundleType=zip \
            --ignore-application-stop-failures