name: Java CD - Deploy para AWS

on:
  push:
    branches: [ "main" ]

jobs:
  release-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Criar Build com Maven
        run: |
          cd backend/stock-manager
          mvn -B clean package -DskipTests

      - name: Configurar Credenciais da AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Preparar e Enviar Pacote
        run: |
          cd backend/stock-manager
          # Organiza o arquivo JAR
          cp target/stock-manager-*.jar stock-manager.jar
          
          # Cria a "Mala" (ZIP) com tudo o que a AWS precisa
          zip -r deploy-package.zip stock-manager.jar appspec.yml scripts/
          
          # Envia para o S3 (O "Armário")
          # Usei o nome padrão que sua infraestrutura cria
          aws s3 cp deploy-package.zip s3://stock-manager-prod-artifacts-338395016803/deploy/stock-manager.zip

      - name: Executar Deploy na AWS
        run: |
          aws deploy create-deployment \
            --application-name StockManagerApp \
            --deployment-group-name StockManagerDG \
            --s3-location bucket=stock-manager-prod-artifacts-338395016803,key=deploy/stock-manager.zip,bundleType=zip \
            --ignore-application-stop-failures