name: Java CD - Deploy para AWS

on:
  push:
    branches: [ "main" ]

env:
  # Usando a variável que você criou no GitHub
  S3_BUCKET: ${{ vars.S3_BUCKET }}

jobs:
  release-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Configurar Credenciais da AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          # Referência ao segredo que você já possui
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Criar Build com Maven
        run: |
          cd backend/stock-manager
          mvn -B clean package -DskipTests

      - name: Preparar e Enviar Pacote
        run: |
          # 1. Localiza o JAR (ex: stock-manager-0.0.1-SNAPSHOT.jar)
          JAR_ORIGEM=$(find backend/stock-manager/target -name "stock-manager-*.jar" | head -n 1)
          
          # 2. Cria estrutura limpa para o CodeDeploy
          mkdir -p deploy_temp/scripts
          
          # 3. Copia arquivos (appspec.yml deve ficar na raiz do ZIP)
          cp $JAR_ORIGEM deploy_temp/stock-manager.jar
          cp appspec.yml deploy_temp/
          cp -r scripts/* deploy_temp/scripts/
          
          # 4. Gera o ZIP sem pastas intermediárias
          cd deploy_temp
          zip -r ../deploy-package.zip .
          cd ..
          
          # 5. Upload para o S3
          aws s3 cp deploy-package.zip s3://${{ env.S3_BUCKET }}/deploy/stock-manager.zip

      - name: Executar Deploy na AWS
        run: |
          # Aciona o CodeDeploy usando os nomes de segredos que você cadastrou
          aws deploy create-deployment \
            --application-name StockManagerApp \
            --deployment-group-name StockManagerDG \
            --s3-location bucket=${{ env.S3_BUCKET }},key=deploy/stock-manager.zip,bundleType=zip \
            --ignore-application-stop-failures