name: Java CD - Deploy para AWS

on:
  push:
    branches: [ "main" ]

env:
  S3_BUCKET: ${{ vars.S3_BUCKET }}

jobs:
  release-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Configurar Credenciais da AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Criar Build com Maven
        run: |
          cd backend/stock-manager
          mvn -B clean package -DskipTests

      - name: Preparar e Enviar Pacote
        run: |
          # Caminhos base
          PROJECT_DIR=backend/stock-manager
          DEPLOY_TEMP=deploy_temp
          
          # 1. Localiza o JAR
          JAR_ORIGEM=$(find $PROJECT_DIR/target -name "stock-manager-*.jar" | head -n 1)
          
          # 2. Cria estrutura limpa para o CodeDeploy
          rm -rf $DEPLOY_TEMP
          mkdir -p $DEPLOY_TEMP/scripts
          
          # 3. Copia arquivos (appspec.yml deve ficar na raiz do ZIP)
          cp $JAR_ORIGEM $DEPLOY_TEMP/stock-manager.jar
          cp $PROJECT_DIR/appspec.yml $DEPLOY_TEMP/
          cp -r $PROJECT_DIR/scripts/* $DEPLOY_TEMP/scripts/
          
          # 4. Gera o ZIP sem pastas intermediárias
          cd $DEPLOY_TEMP
          zip -r ../deploy-package.zip .
          cd ..
          
          # 5. Upload para o S3
          aws s3 cp deploy-package.zip s3://${{ env.S3_BUCKET }}/deploy/stock-manager.zip

      - name: Executar Deploy na AWS
        run: |
          aws deploy create-deployment \
            --application-name StockManagerApp \
            --deployment-group-name StockManagerDG \
            --s3-location bucket=${{ env.S3_BUCKET }},key=deploy/stock-manager.zip,bundleType=zip \
            --ignore-application-stop-failures
