name: Java CD - Deploy para AWS

on:
  push:
    branches: [ "main" ]

jobs:
  release-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21' # Batendo com seu pom.xml
          distribution: 'temurin'
          cache: 'maven'

      - name: Criar Build de Release com Maven
        # clean package é o ideal para gerar o JAR que vai para o S3
        run: mvn -B clean package -DskipTests

      - name: Configurar Credenciais da AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }} #
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} #
          aws-region: ${{ secrets.AWS_REGION }} #

      - name: Enviar Build para o S3
        run: |
          # O artifactId no seu pom.xml é 'stock-manager'
          JAR_NAME=$(ls target/stock-manager-*.jar | head -n 1 | xargs basename) 
          
          echo "Enviando $JAR_NAME para o S3..."
          # Substitua 'seu-nome-de-bucket' pelo nome real do seu Bucket S3
          aws s3 cp target/$JAR_NAME s3://seu-nome-de-bucket/aplicacao/stock-manager.jar

      - name: Acionar o AWS CodeDeploy
        run: |
          # Use o nome da aplicação e grupo de deploy definidos na sua infra AWS
          aws deploy create-deployment \
            --application-name StockManagerApp \
            --deployment-group-name StockManagerDG \
            --s3-location bucket=seu-nome-de-bucket,key=aplicacao/stock-manager.jar,bundleType=zip \
            --ignore-application-stop-failures